<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/styles.css" />

    <title>Mercado liebre</title>
</head>

<body class="bg-light-grey">
    <header class="bg-yellow p-1">
        <h1 class=" w-1">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>
        <p class="w-1">Acá va la barra de búsqueda</p>

        <p>Comprá en cuotas <i class="fa-solid fa-hand-holding-dollar"></i></p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudas</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mi cuenta</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>
                Basado en tu última visita
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
        </section>
    </main>

</body>

</html>