<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <h1>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>
        <p>Acá va la barra de búsqueda</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayudas</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>
                Basado en tu última visita
            </h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
                <div>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <h3>Cafetera Moulinex</h3>
                </div>
            </article>
        </section>
    </main>

</body>

</html>