<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre - Registro</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <header class="bg-yellow p-1 flex flex-wrap">
        <h1 class="w-50">
            <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" />
        </h1>
        <div class="p-2 w-50 align-center">
            <form action="/" class="p-1 flex radius-1 bg-white">
                <input class="flex-grow b-none outline-none font-xl" type="text" name="search"
                    placeholder="Buscá productos por nombre, marcas o palabras clave" />
                <button type="submit" class="bg-white b-none">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <p class="text-center w-100 my-1">
            <i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin
            tarjeta de crédito
        </p>
        <nav class="hide">
            <ul class="py-1">
                <li><a class="nav-link" href="#">Ofertas</a></li>
                <li><a class="nav-link" href="#">Tiendas Oficiales</a></li>
                <li><a class="nav-link" href="#">Vender</a></li>
                <li><a class="nav-link" href="#">Ayuda</a></li>
            </ul>
            <ul class="py-1">
                <li>
                    <a class="nav-link" href="/register">Crea tu cuenta <i class="fa-solid fa-address-card"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="#">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
                <li>
                    <a class="nav-link" href="#">Mis Compras <i class="fa-solid fa-basket-shopping"></i></a>
                </li>
            </ul>
        </nav>
        <div class="text-center w-100">
            <i class="fa-solid fa-bars p-1 bg-blue radius-1 color-white bold"></i>
        </div>
    </header>

    <!-- Para la casa -->
    <footer></footer>
</body>

</html>